*{
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(whitesmoke, gray);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width:400px;
    font-family: Arial, Helvetica, sans-serif;
}



input{
    width:100%;
    font-weight: bold;
    border: none;
    display: block;
}

button{
   margin-top: 10px;
   border: solid 1px #0d8000f7 ;
   background-color:  #0d8000f7;
   color: white;
   font-weight: bold;
   font-size: 1rem;
}


ul {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: black;
    font-size: 1rem;
}

